@page "/Student/create"
@using Students.Assignment.Shared.People
@inject HttpClient http
@inject NavigationManager uriHelper

<h3>Create</h3>

<Form ButtonText="Create Student" Student="@student"
            OnValidSubmit="@CreateStudent" />

@code {
    Student student = new Student();
    async Task CreateStudent()
    {
        await http.PostAsJsonAsync("api/student", student);
        uriHelper.NavigateTo("student");
    }
}
