@page "/Lecturer"
@using Students.Assignment.Shared.People


<h1>Lecturers 👩🏼‍🏫</h1>

@* <p>Display tabular data with ease. Perform paging, sorting and filtering through Entity Framework without extra code.</p> *@

<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="5" AllowPaging="true" AllowSorting="true"
                Data="@_lecturers" TItem="Lecturer" ColumnWidth="150px" LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>
        <RadzenDataGridColumn TItem="Lecturer" Property="LecturerID" Filterable="false" Title="ID" Frozen="true" Width="70px" TextAlign="TextAlign.Center"/>
        @* <RadzenDataGridColumn TItem="Lecturer" Title="Photo" Sortable="false" Filterable="false" Width="200px" > *@
        @* <Template Context="data"> *@
        @*     <RadzenImage Path="@data.Photo" style="width: 40px; height: 40px; border-radius: 8px;" /> *@
        @* </Template> *@
        @* </RadzenDataGridColumn> *@
        <RadzenDataGridColumn TItem="Lecturer" Property="IDNumber" Title="ID number"/>
        <RadzenDataGridColumn TItem="Lecturer" Property="FirstName" Title="First Name"/>
        <RadzenDataGridColumn TItem="Lecturer" Property="LastName" Title="Last Name" Width="150px"/>
        <RadzenDataGridColumn TItem="Lecturer" Property="DateOfBirth" Title="Date of birth"/>
        <RadzenDataGridColumn TItem="Lecturer" Property="Gender" Title="Gender"/>
    </Columns>
</RadzenDataGrid>

@code {
    IEnumerable<Lecturer> _lecturers;

}